<h1 class="text-3xl font-bold mb-6"><%= pageTitle %></h1>

<a href="/admin/tournaments/<%= tournamentId %>/unassigned-players" class="btn btn-secondary mb-4 inline-flex">Retour aux joueurs libres</a>
<a href="/admin/tournaments" class="btn btn-secondary mb-4 inline-flex ml-2">Retour aux tournois</a>

<div class="bg-white shadow-md rounded-lg p-6">
    <form action="/admin/tournaments/<%= tournamentId %>/unassigned-players/add" method="POST">
        <div class="mb-4">
            <label for="userIds" class="block text-gray-700 text-sm font-bold mb-2">Sélectionner un ou plusieurs joueurs:</label>
            <select name="userIds" id="userIds" class="shadow border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-48" multiple required>
                <% users.forEach(user => { %>
                    <option value="<%= user.id %>"><%= user.pseudo %></option>
                <% }); %>
            </select>
            <p class="text-gray-600 text-xs italic mt-1">Maintenez Ctrl (ou Cmd sur Mac) pour sélectionner plusieurs joueurs.</p>
        </div>
        <div class="flex items-center justify-between">
            <button type="submit" class="btn btn-primary">Ajouter le joueur</button>
        </div>
    </form>
</div>
